// 此變數為框架之整體變數，控制整體網站之設定，包含 顏色、文字、格線系統
// 於mixins 資料夾內，各個模組也有其個別使用的變數，請至個別檔案設定，個別使用變數不含在此設定

//-------------------------------------------------------------顏色---------//
// 定義顏色 此顏色可自由變換
$primaryColor:				#21baff;				//主色
$secondaryColor:			#f39; 					//輔助色
$lightColor:				#96f;					//焦點
// 但注意真實顏色與語意的關聯必須易於辨識
$color-default: 			#DDD;
$color-gray: 				#CCC;
$color-green:				#7ba400;
$color-orange: 				#f77810;
$color-red: 				#ff3e4d;
$color-blue: 				#0aa6b8;
$color-yellow: 				#ffbe00;
$color-purple: 				#aa5ac5;
$hrColor:					#666;		  			 //hr顏色
$color-word:				#666;
// 連結顏色
$aColor:					$color-word;
$aHover:					$primaryColor;

// 表單focus顏色
$form-focus:				#21baff;				//表單
//-------------------------------------------------------------字型--------//

// 字型設定
$font-family:               Lato, "PingFang TC", "Helvetica Neue", Helvetica, 微軟正黑體, 新細明體, Arial, sans-serif;;
$font-size:					1em;

//-------------------------------------------------------------格線系統-----//

// 格線系統
$grid-columns:              12 !default;			   //格線欄位數
$grid-gutter-width:         30px !default;			   //左右padding
$container-max:             1200px !default;		   //container最大寬

//mediaquery
$screen-lg:        			1400px !default;  	       //電腦
$screen-md:        			992px  !default;      	   //平板
$screen-sm:        			768px  !default;     	   //手機
$screen-xs:        			576px  !default;      	   //極小尺寸

//-------------------------------------------------------------客製化------//

// 圖片
$rounded-angle:             16px;					   //圖片導角









