@import "compass/utilities/general/hacks";
@import "compass";



/* 共通*/

@import "_variable";
@import "sass/_normalize";
@import "sass/_mixin";
@import "sass/_typography";
@import "sass/_font";



/* 元素*/

@import "sass/_breadcrumb";
@import "sass/_divider";
@import "sass/_btn";
@import "sass/_hr";
@import "sass/_image";
@import "sass/_tooltip";
@import "sass/_tabs";
@import "sass/_table";
@import "sass/_form";
@import "sass/_notice";


/* 模組*/

@import "sass/_header";
@import "sass/_menu";
@import "sass/_footer";
@import "sass/_fatfooter";
@import "sass/_paginations";
@import "sass/_thumbnail";
@import "sass/_lightbox";


/**/

@import "sass/_element";



/* 外掛*/

@import "sass/_grid";





/* @import "plugin/_animate";*/

body {
    background: #f4f4f4;
    font-family: Lato, "PingFang TC", "Helvetica Neue", Helvetica, 微軟正黑體, 新細明體, Arial, sans-serif;
    /* line-height: 1.2em;*/
    position: relative;
    -webkit-text-size-adjust: none;
    &.noscroll {
        // position: fixed!important;
        width: 100%;
        height: 100%;
        position: absolute;
        overflow: hidden !important;
    }
}

.re_layout {
    position: absolute;
    left: 235px;
    top: 0%;
    display: block;
    text-align: center;
    padding: 10px;
    width: 10px;
    font-size: 15px;
    height: 60px;
    line-height: 1.25em;
    color: #FFF;
    z-index: 999999;
    background: url(../images/basic/icon_arrow_left.svg) no-repeat center center $primaryColor;
    background-size: 36px;
    @include box-sizing(box-sizing); // @include border-radius(50%);
    &:hover,
    &:focus {
        color: #FFF;
        background: url(../images/basic/icon_arrow_left.svg) no-repeat center center darken($primaryColor, 10);
        background-size: 36px;
    }
    &.hidden {
        left: 20px;
        background: url(../images/basic/icon_arrow_right.svg) no-repeat center center $primaryColor;
        background-size: 36px;
        &:hover,
        &:focus {
            color: #FFF;
            background: url(../images/basic/icon_arrow_right.svg) no-repeat center center darken($primaryColor, 10);
            background-size: 36px;
        }
    }
}





/* .main{*/


/*     .left_nav {*/


/*     @include make-xs-column(12);*/


/*     @include make-sm-column(12);*/


/*     @include make-md-column(12);*/


/*     @include make-lg-column(12);*/


/*     @include gutter();*/


/* }*/


/* .content {*/


/*     @include make-xs-column(12);*/


/*     @include make-sm-column(6);*/


/*     @include make-md-column(4);*/


/*     @include make-lg-column(4);*/


/*     @include gutter();*/


/* }*/


/* }*/

.main {
    max-width: 1600px;
    width: auto;
    padding: 0px 15px;
    margin: 0px auto;
    position: relative;
    overflow: hidden;


    &>h2 {
        margin-top: 1em;
        font-size: 2em;
        color: $secondaryColor;
        line-height: 1.45em;
    }
    &>h3 {
        margin-top: 1em;
        font-size: 1.5em;
    }
    .content {
        min-height: 800px;
        float: none;
        width: auto;
        padding: 30px;
        overflow: hidden;
        background: #FFF;
        margin: 0px 15px 30px 250px;
        &.fluid {
            margin: 0px 15px 30px 35px;
        }
        &>p {
            line-height: 1.65em;
        }
        @include box-sizing(border-box);
        p {
            /* line-height: 1.65em;*/
        }
        p>span.hy {
            display: inline-block;
            background: #f5f2ec;
            padding: .1em .8em;
            border: 1px solid #ccc;
            margin: 0px 5px;
            line-height: 1.35em;
            @include border-radius(4px);
            color: #f92672;
            margin-top: 2px;
            font-size: 14px;
        }
        @media print {
            width: 100%;
        }
        @media (max-width: 991px) {
            min-height: auto;
            float: none;
            clear: both;
            padding: 15px 20px;
            width: 100%;
            margin: 0px auto;
        }
    }
}

pre {
    margin: 0px auto !important;
    padding: 2px 0 !important;
    line-height: 1.3em;
}



.sourcecode {
    display: block;
    width: 100%;
    /* margin: 0px auto 10px;*/
    font-size: 13px; // border: 1px solid rgba(163, 163, 163, .6);
    border-top: none;
    position: relative;
    margin-top: 0px;
    margin-top: 40px;
    margin-bottom: 0px;
    @include box-sizing(border-box);
    // @include box-shadow(0 0 15px rgba(0, 0, 0, .1));
    opacity:1;
    /* &:before {*/
    .viewcode {
        position: absolute;
        top: -33px;
        right: 0%;
        padding: .2em !important;
    }
}

.sourcecode+.sourcecode {
    margin-top: -30px;
}

.sourcecode h2 {
    margin-bottom: 20px;
    padding-bottom: 5px;
}

.sourcecode h2::before {
    content: "";
    position: absolute;
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 5px 0 5px 7px;
    border-color: transparent transparent transparent #000;
    top: 9px;
    left: 0px;
}

.sourcecode h3 {
    line-height: 1.35em;
}

.sourcecode p {
    font-size: 16px;
    margin-bottom: 20px;
    line-height: 1.55em;
}

.sourcecode img {
    margin: 15px auto;
    display: block;
    max-width: 100%;
}

.demo {
    @include border-radius(0px 0px 4px 4px);
    @include box-sizing(border-box);
    border: 1px solid rgba(163, 163, 163, .2);
    padding: 50px 30px 30px;
    @include box-shadow(0 0 15px rgba(0, 0, 0, .05));
    position: relative;
    margin: 20px 0px 0px;
    &:before {
        content: "demo";
        position: absolute;
        top: 0px;
        right: 20px;
        width: 100px;
        height: 30px;
        text-align: center;
        line-height: 30px;
        border: 1px solid #DDD;
        border-top: none;
        color: #AAA;
        background: #f3f3f3;
        /* opacity:1;*/
    }
    ul {
        li {
            /* margin-bottom:.5em;*/
        }
    }
    &:not(p) {
        line-height: 1.45em;
    }
}

.hy-2 {
    @include make-xs-column(12);
    @include make-sm-column(6);
    @include make-md-column(6);
    @include make-lg-column(6);
    @include gutter();
    overflow: hidden;
    min-height: 300px;
    .demo {
        padding: 30px 2em 15px;
        @include box-sizing();
        overflow: hidden;
    }
}

.hy-3 {
    @include make-xs-column(12);
    @include make-sm-column(4);
    @include make-md-column(4);
    @include make-lg-column(4);
    @include gutter();
    overflow: hidden;
    min-height: 300px;
    .demo {
        padding: 30px 2em 15px;
        @include box-sizing();
        overflow: hidden;
    }
}

.show {
    width: 800px;
    margin: 2em auto;
    display: block;
    border: 1px solid #DDD;
    padding: 1.5em;
    overflow: hidden;
    border-radius: 5px;
    background: #F3F3F3;
}

.sourcecode .show {
    width: 100%;
    -webkit-transition: all .3s ease-out;
    -o-transition: all .3s ease-out;
    transition: all .3s ease-out;
}

.path {
    margin: 5px 0;
}

.breadcrumb {}


.accordion {
    ul {
        li {
            margin-bottom: .5em;
        }
    }
    .accordion-content p {
        line-height: 1.65em;
    }
}

@for $i from 1 through 6 {
    .bootstrap_grid#{$i} .row>div {
        @include box-sizing(border-box);
        border: 1px solid $color-blue;
        background: lighten($color-blue, 30);
        text-align: center;
        min-height: 50px;
        line-height: 50px;
    }
}

code[class*="language-"],
pre[class*="language-"] {
    padding: .5em 1em !important;
    font-size: 15px !important;
    line-height: 1.4em;
    font-family: Menlo, Arial;
    margin: 0em 0px 0em !important;
    padding-top: 0px !important;
    @include border-radius(0px 0px 0px 0px);
    position: relative;
    .toolbar {
        position: absolute;
        width: 80px;
        height: 30px;
        right: 10px;
        top: 10px;
        a {
            text-align: center;
            display: block;
            @include border-radius(4px);
            background: rgba(0, 0, 0, .4);
            color: #aaa;
            &:hover,
            &:focus {
                color: #FFF;
                background: rgba(0, 0, 0, .8);
            }
        }
    }
}

p>code[class*="language-"] {
    padding: 0em .8em !important;
    display: inline-block;
    border: 1px solid #DDD;
    line-height: 1.75em;
    font-size: 13px !important;
    font-family: Lato, "PingFang TC", "Helvetica Neue", Helvetica, 微軟正黑體, 新細明體, Arial, sans-serif;
    margin: 0px 3px !important;
}

.demo {
    form {
        margin: .5em;
        td>* {
            vertical-align: middle;
            outline: none;
        }
        table {
            margin: .3em auto;
            width: 100%;
            border-collapse: collapse;
        }
        tr {
            border-bottom: 1px solid #DDD;
            >td:nth-child(1) {
                text-align: left;
                vertical-align: middle;
                white-space: nowrap;
            }
        }
        th,
        td {
            vertical-align: top;
            padding: .8em .5em .5em; // min-height:62px;
        }
        th {
            text-align: left;
            white-space: nowrap;
            vertical-align: middle;
        }
    }
}

header {
    position: relative;
    border-bottom: 1px solid #DEDEDE;
    background: #FFF;
    min-height: 80px;
    margin-bottom: 20px;
    z-index: 99;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, .1);
    .container {
        max-width: 1600px;
        margin: 0px auto;
    }
    @media print {
        margin-bottom: 0px;
        min-height: 60px;
    }
    @media (max-width: 991px) {
        min-height: 60px;
        width: 100%;
        position: fixed;
        top: 0px;
        a.menu {
            position: absolute;
            top: 15px;
            right: 10px;
            width: 40px;
            height: 30px;
            display: block; // outline:1px solid red;
            z-index: 9;
            >span {
                width: 25px;
                height: 2px;
                display: block;
                margin: 6px auto;
                background: #666;
            }
            &:hover,
            &:focus {
                // background: #DEDEDE;
            }
        }
    }
    .logo {
        float: left;
        max-width: 300px;
        margin: 15px 0px 0px 5px; // font-size: 4em;
        font-family: 'Baloo Thambi', cursive;
        color: $primaryColor;
        a {
            // outline:1px solid red;
        }
        @media (max-width: 991px) {
            margin: 7px 0px 0px 15px;
        }
        img {
            width: auto;
            max-height: 50px;
            @media print {
                max-height: 30px;
            }
            @media (max-width: 991px) {
                max-height: 45px;
            }
        }
    }
    .update {
        float: right;
        font-size: .750em;
        color: #666;
        margin: 10px;
        @media (max-width: 991px) {
            display: none;
        }
    }
}

//手機版的menu
.overlay {
    display: none;
    @media (max-width: 991px) {
        background: rgba(0, 0, 0, 0.9);
        position: fixed;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100%;
        z-index: 998;
        display: block;
    }
}

.left_nav {
    @media (max-width: 991px) {
        // display:none;
    }
    float: left;
    width: 200px;
    padding: 35px 0px; // outline: 1px solid red;
    position: relative; // border-top: solid 2px $primaryColor;
    margin:0px auto;
    &.fixed_nav {
        position: fixed;
        top: 0px; // float: left;
        // display:block;
        // width: 20%;
        @media (max-width: 991px) {}
    }
    @include box-sizing(border-box);
    @media print {
        display: none;
    }
    .open {
        position: absolute;
        top: 0px;
        right: 0;
        width: 60px;
        height: 20px; // background:#DDD;
        border-radius: 3px;
        display: block;
        text-align: center;
        font-size: .75em;
        color: #AAA;
        &:hover {
            color: $primaryColor;
        }
    }
    ul {
        padding: 0;
        margin-left: auto;
        margin-right: auto;
        li {
            list-style: none;
            &.active {
                >a {
                    color: $primaryColor;
                    &:before {
                        transition: .3s ease-out;
                        transform: rotate(90deg);
                        border-color: transparent transparent transparent $primaryColor;
                    }
                }
            }
            li a[onclick*="htm"] {
                color: $primaryColor;
                &:hover,
                &:focus {
                    color: $secondaryColor;
                }
            }
            a {
                color: #333;
                font-size: 0.913em;
                display: block;
                margin-bottom: 2px;
                padding: 5px 8px 5px 8px;
                border-radius: 2px;
                font-size: 16px;
                line-height: 1.4em;
                font-weight: bold;
                position: relative;
                @include box-sizing(border-box);
                &:before {
                    content: "";
                    position: absolute;
                    top: 12px;
                    right: 8px;
                    width: 0;
                    height: 0;
                    border-style: solid;
                    border-width: 3px 0 3px 4px;
                    border-color: transparent transparent transparent #666;
                    line-height: 0px;
                }
                &:hover,
                &:focus {
                    color: $primaryColor;
                    cursor: pointer;
                }
            }
            &.nochild {
                &:before {
                    display: none;
                }
            }
        }
        ul {
            padding-left: 10px;
            li {
                a {
                    font-size: 15px;
                    font-weight: normal;
                    line-height: 1.4em;
                    margin-bottom: 4px;
                    position: relative;
                    padding: 3px 8px;
                    &:before {
                        display: none;
                    }
                }
            }
        }
    }
}

.float_menu {
    display: none;
    @media (max-width: 991px) {
        overflow:scroll;
        -webkit-overflow-scrolling: touch;
        /* lets it scroll lazy */
        -webkit-overflow-scrolling: auto;
        /* stop scrolling immediately */
    }
    a.close {
        position: fixed;
        top: 10px;
        right: 0px;
        width: 40px;
        z-index: 999999;
        height: 40px;
        display: block; // background: rgba(255, 255, 255, .1); // outline:1px solid red;
        &:before {
            position: absolute;
            top: 50%;
            width: 30px;
            height: 1px;
            background: rgba(255, 255, 255, .5);
            content: "";
            transform: rotate(45deg);
        }
        &:after {
            position: absolute;
            top: 50%;
            width: 30px;
            height: 1px;
            background: rgba(255, 255, 255, .5);
            content: "";
            transform: rotate(-45deg);
        }
        &:hover,
        &:focus {
            &:before {
                background: rgba(255, 255, 255, 1);
            }
            &:after {
                background: rgba(255, 255, 255, 1);
            }
            cursor:pointer;
        }
    }
    @media (max-width: 991px) {
        width: 100%;
        height: 100%;
        display: block;
        position: fixed;
        top: 0px;
        left: 0px;
        overflow-y: auto;
        -webkit-overflow-scrolling: touch;
        /* lets it scroll lazy */
        -webkit-overflow-scrolling: auto;
        /* stop scrolling immediately */
        z-index: 999; // background: $primaryColor;
        .left_nav {
            float: none;
            width: 90%;
            margin: 1em auto;
            .open {
                display: none;
            }
            ul {
                width: 80%;
                height: 100%;
                margin-left: auto;
                margin-right: auto;
                max-width: 480px;
                min-width: 320px;
                padding: 0;
                float: none;
                overflow: scroll;
                -webkit-overflow-scrolling: touch;
                /* lets it scroll lazy */
                -webkit-overflow-scrolling: auto;
                /* stop scrolling immediately */
                li {
                    &.active {
                        >a {
                            color: #FFF;

                            &:before {
                                transition: .3s ease-out;
                                transform: rotate(90deg);
                                border-color: transparent transparent transparent #FFF;
                            }
                        }
                    }
                    a {
                        color: #FFF;
                        font-size: 1.125em;
                        display: block;
                        padding: 8px; // border-radius: 2px;
                        line-height: 1.4em;
                        font-weight: bold;
                        position: relative;
                        border-bottom: 1px solid RGBA(255, 255, 255, .4);
                        @include box-sizing(border-box);
                        &:before {
                            content: "";
                            position: absolute;
                            top: 18px;
                            right: 12px;
                            width: 0;
                            height: 0;
                            border-style: solid;
                            border-width: 3px 0 3px 4px;
                            border-color: transparent transparent transparent #FFF;
                            line-height: 0px;
                        }
                        &:hover,
                        &:focus {
                            color: lighten($primaryColor, 10); // background: darken($primaryColor, 10);
                        }
                    }
                    &.nochild {
                        &:before {
                            display: none;
                        }
                    }
                }
                ul {
                    width: 100%;
                    padding-left: 0px;
                    margin: 1em 0px;
                    li {
                        a {
                            font-size: 14px;
                            font-weight: normal;
                            line-height: 1.4em;
                            position: relative;
                            padding: 8px 8px 8px 16px;
                            &:before {
                                display: none;
                            }
                        }
                    }
                }
            }
        }
    }
}