.breadcrumb {
    background: none;
    border-bottom: 1px solid #EEE;
    padding: .3em 0em;
    font-size: .813em;
    margin:0px auto 15px;
    // @include border-radius(4px);
    &:before {
        content: "現在位置：";
        display: inline-block;
    }
    a {
        @include aSetting();
        display: inline-block;
        &:before {
            @extend %slash;
        }
        &:first-child {
            &:before {
                display: none;
            }
        }
    }
    span {
        display: inline-block;
        &:before {
            @extend %slash;
        }
    }
}