.breadcrumb {
    background: none;
    border-bottom: 1px solid #EEE;
    padding: .3em 0em;
    font-size: .813em;
    margin: 0px auto 15px; // @include border-radius(4px);
    ul {
        padding: 0;
        li {
            display: inline-block;
            margin-right: 0px;
            &:before {
                @extend %slash;
            }
            &:first-child:before {
                content: "現在位置：";
                display: inline-block;
                color:#666;
            }
        }
    }
    a {
        @include aSetting();
    }
}
