@import "compass";
// img
img.img-responsive {
    @include img-responsive();
}
.necessary{
    color:red;
    margin:0px .2em;
}
.tooltip {
    text-align: center;
    padding: 40px 0;
    span {
        display: inline-block;
        background: #DEDEDE;
        text-align: center;
        padding: 10px;
        width: 100px;
        height: 20px;
        line-height: 20px;
        vertical-align: baseline;
    }
    p>em {
        color: red;
    }
}

.hr_block {
    text-align: left;
    span {
        font-size: .75em;
    }
    hr {
        margin: 10px 0!important;
        ;
    }
}




/*檔案下載*/

.file_download {
    width: 100%;
    margin: 0 auto;
    @include clearfix();
    h3 {
        font-size: 1.5em;
        padding: 12px 0px 15px 0px;
        margin: 0.5em 0px 0.2em;
        border-bottom: 1px solid $primaryColor;
    }
    ul {
        counter-reset: counter;
        list-style-type: none;
        padding: 0;
        margin-left: 1em;
        @media screen and (max-width: 767px) {
            margin-left: 0;
        }
    }
    li {
        position: relative;
        margin-bottom: 10px;
        border-bottom: 1px solid #EEE;
        .update,
        .file_view {
            font-size: .813em;
            color: #AAA;
            width: 100px;
            float: right;
            margin-top: 5px;
            @media screen and (max-width: 767px) {
                display:inline-block;
                float: none;
                width: auto;
                margin-top: 0;
            }
            @include screen('xs_mobile') {
                display: none;
            }
        }
        .update {
            width: 150px;
            @media screen and (max-width: 767px) {
                margin-left: 5px;
            }
        }
        a {
            padding: .2em 0px .2em 65px;
            position: relative;
            height: auto;
            line-height: 1.45em;
            display: inline-block;
            width: 45%;
            @include text-overflow;
            &:before {
                position: absolute; // outline: 1px solid red;
                top: 5px;
                left: 0px;
                text-align: right;
                width: 30px;
                counter-increment: counter;
                content: counters(counter, ".") " . ";
            }
            @media screen and (max-width: 767px) {
                margin-right: 0px; // display: block;
                width: 85%;
            }
            .kb {
                font-size: .75em;
                color: #666;
                display: inline-block;
                margin: 0px .5em;
            }
            &:after {
                content: "";
                background: url(../images/basic/icon_other.jpg);
                width: 21px;
                height: 24px;
                position: absolute;
                top: 2px;
                left: 35px;
                text-align: right;
            }
            &[href$="doc"]:after {
                background: url(../images/basic/icon_doc.jpg);
            }
            &[href$="odf"]:after {
                background: url(../images/basic/icon_odf.jpg);
            }
            &[href$="pdf"]:after {
                background: url(../images/basic/icon_pdf.jpg);
            }
            &[href$="xls"]:after {
                background: url(../images/basic/icon_xls.jpg);
            }
            &[href$="ppt"]:after {
                background: url(../images/basic/icon_ppt.jpg);
            }
            &[href$="jpg"]:after {
                background: url(../images/basic/icon_jpg.jpg);
            }
            &[href$="mp3"]:after {
                background: url(../images/basic/icon_mp3.jpg);
            }
            &[href$="mov"]:after {
                background: url(../images/basic/icon_mov.jpg);
            }
            &[href$="txt"]:after {
                background: url(../images/basic/icon_txt.jpg);
            }
            &[href$="dot"]:after {
                background: url(../images/basic/icon_doc.jpg);
            }
            &[href$="zip"]:after {
                background: url(../images/basic/icon_zip.jpg);
            }
            &:hover,
            &:focus {
                color: $aHover !important;
            }
        }
    }
} // 外部連結
.web_link {
    width: 100%;
    margin: 0 auto;
    @include clearfix();
    h3 {
        font-size: 1.5em;
        padding: 12px 0px 15px 0px;
        margin: 0.5em 0px 0.2em;
        border-bottom: 1px solid $primaryColor;
    }
    ol,
    ul {
        counter-reset: counter;
        list-style-type: none;
        padding: 0;
        margin-left: 1em;
        @media screen and (max-width: 767px) {
            margin-left: 0;
        }
    }
    li {
        position: relative;
        margin-bottom: 10px;
        border-bottom: 1px solid #EEE;
        a {
            padding: .2em 0px .2em 35px;
            position: relative;
            height: auto;
            line-height: 1.45em;
            display: block;
            &:before {
                position: absolute; // outline: 1px solid red;
                top: 5px;
                left: 0px;
                text-align: right;
                width: 30px;
                counter-increment: counter;
                content: counters(counter, ".") " . ";
            }
        }
    }
}
