//header
.header {
    position: relative;
    z-index: 99;
    // background: #FFF;
    // box-shadow: 0px 2px 5px RGBA(0, 0, 0, .3);
    @extend %clearfix;
    @include screen('mobile') {
        position: fixed;
        width: 100%;
        background: #f99615;
    }
    // 虛擬底色 - navigation bg
    // &:before {
    //     content: "";
    //     width: 100%;
    //     height: 2.4em;
    //     background: #F2F2F2; 
    //     position: absolute;
    //     top: 0;
    //     left: 0;
    //     @include screen('mobile') {
    //         display: none;
    //     }
    // }
    // mobile btn for extend
    %mobileCtrlBtn {
        width: 60px !important;
        height: 60px !important;
        position: absolute;
        top: 0px;
        display: block;
        font-size: 0em;
        padding: 15px;
        margin: 0;
        min-width: auto;
        min-height: auto;
        background: transparent;
        border: none;
        box-shadow: none;
        @include box-sizing;
        @include screen('mobile') {
            display: block !important;
        }
    }
    >.container {
        max-width: $container-max;
        overflow: visible;
        position: relative; // menu
        .sidebarCtrl {
            display: none;
            left: 0px;
            @extend %mobileCtrlBtn;
            span {
                position: absolute;
                background: #392520;
                width: 50%;
                height: 4px;
                top: 35%;
                left: 50%;
                margin-left: -25%;
                display: block;
                &:nth-child(2) {
                    top: 50%;
                }
                &:nth-child(3) {
                    top: 65%;
                }
            }
        }
        // search
        .searchCtrl {
            width: 60px !important;
            height: 40px !important;
            padding: 0 0 0 15px;
            right: 40px;
            top: 65px;
            font-size: 0em;
            border-left: 1px dotted #fff;
            border-radius: 0px;
            z-index: 100;
            @extend %mobileCtrlBtn;
            @include screen('mobile') {
                height: 60px !important;
                right: 0;
                top: 0;
                padding: 0;
                border-left: 0px dotted #fff;
            }
            &:before {
                width: 40px;
                height: 40px;
                background: url(../images/search.png) no-repeat center center;
                content: "";
                display: block;
                @include screen('mobile') {
                    margin: 0 auto;
                    filter: invert(100%);
                    opacity: .8;
                }
            }
        }
    }
    h1 {
        float: left;
        width: 400px;
        height: 54px;
        margin: 15px 0 15px 56px;
        padding: 0;
        @include box-sizing;
        a {
            display: inline-block;
        }
        img {
            display: block;
            width: 100%;
            height: 100%;
        }
        @include screen('mobile') {
            padding: 2px 0;
            width: 100%;
            text-align: center;
            // height: 60px;
            margin: 10px 0;
            img {
                width: auto;
                height: auto;
                max-height: 54px;
                margin: 0px auto;
                transform: scale(.8);
            }
        }
    }
    // 導覽列
    .navigation {
        &.have_language {
            padding-right: 160px;
        }
        @extend %clearfix;
        overflow: hidden;
        width: 100%;
        margin-bottom: .5em;
        box-sizing:border-box;
        ul {
            float: right;
            padding: 0;
            margin: 0;
            font-size: .938em;
            list-style: none;
            &.left_nav {
                float: left;
                margin-left: 2em;
            }
        }
        li {
            float: left;
            margin: 0 .2em;
            a {
                display: inline-block;
                padding: .5em;
                text-decoration: none;
                @include aSetting_nocolor;
            }
        }
        .language {
            position: absolute;
            right: 15px;
            top: .35em;
            font-size:.75em;

        }
    }
}

//search
// .search {
//     position: absolute;
//     right: 56px;
//     top: 63px;
//     width: 50px;
//     height: 40px;
//     display: block;
//     background: url(../images/search.png ) right 0 no-repeat;
//     border-left: 1px dotted #fff;
//     cursor: pointer;
//     z-index: 100;
//     @include screen('mobile') {
//         display: none;
//     }
// }
.search {
    min-width: 25%;
    max-width: 330px;
    display: none;
    vertical-align: middle;
    padding: 1em;
    background: rgba(0,0,0,0.8);
    border-radius: 3px;
    box-sizing: border-box;
    position: absolute;
    top: 120px;
    right: 30px;
    z-index: 99999;
    @include screen('mobile') {
        border-radius: 0px
    }
    label {
        font-size: 0em
    }
    form{
        display: block;
    }
    .form_grp {
        margin-bottom: 0;
        margin-right: 0 !important;
        input {
            margin: -0.2em 0 0;
            padding: .2em 35px .2em .5em;
            &[type="submit"] {
                font-size: 0em;
                width: 30px !important;
                height: 30px;
                max-width: auto;
                min-width: auto;
                background: url(../images/basic/icon_search.png) no-repeat center center;
                background-size: 20px;
                border: none;
                display: inline-block;
                margin-left: -40px !important;
                margin-top: -2px !important;
                opacity: .8;
                &:hover,&:focus {
                    opacity: 1
                }
            }
        }
    }
    .btn_grp {
        padding: .2em;
        margin-right: 0;
        margin-bottom: 0;
        input,input[type="submit"] {
            margin: 0;
            padding: .4em 1em .4em !important;
            font-size: .813em
        }
    }
    .keywordHot {
        display: inline-block;
        vertical-align: middle;
        margin-left: .5em;
        margin-top: .2em;
        ul {
            display: inline-block;
            font-size: .813em;
            line-height: 1.65em;
            margin: 0;
            padding: 0;
            &:before {
                display: inline-block;
                content: "熱門關鍵字：";
                color: #fff;
                float: left;
                opacity: .6;
            }
            li {
                margin: 0 .6em 0 0;
                padding: 0;
                display: inline-block;
            }
            a {
                color: #FFF;
                &:hover,&:focus{
                    text-decoration: underline
                }
            }
        }
    }
}

.search.m_search {
    width: 100% !important;
    max-width: 100% !important;
    min-width: auto;
    padding: .2em .3em .5em;
    display: block;
    height: auto;
    position: fixed;
    top: 58px;
    left: 0;
    z-index: 98;
    background: #333;
    @include screen('mobile') {
        padding: .5em 1em;
        line-height: 100%
    }
    label {
        font-size: 0em;
        line-height: 0;
    }
    .form_grp {
        width: 65%;
        height: auto;
        padding: 0 0 0 5% !important;
        margin-top: 0;
        text-align: right;
        float: left;
        height: 50px;
        position: relative;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        @include screen('mobile') {
            width: 75%;
            padding: 0!important;
            margin: 0;
            float: none;
        }
        input {
            width: 100%;
            margin: -0.2em 0 0;
            padding: .5em 45px .4em .5em;
            &[type="submit"] {
                font-size: 0em;
                width: 36px !important;
                height: 36px;
                padding: 0;
                max-width: auto;
                min-width: auto;
                background: url(../images/basic/icon_search.png) no-repeat center center;
                background-size: 24px;
                border: none;
                display: inline-block;
                position: absolute;
                right: 5px;
                top: 22px;
                opacity: .8;
                &:hover,&:focus{
                    opacity: 1;
                }
            }
        }
    }
    .btn_grp {
        display: inline-block;
        padding: .2em;
        margin-bottom: 0;
        width: 20%;
        margin-top: 20px;
        padding-left: 5%;
        box-sizing: border-box;
        @include screen('mobile') {
            width: 23%;
            padding: 0;
            margin: 0;
        }
        input {
            width: 80% !important;
            padding: .6em 1em .7em !important;
            margin: 0
        }
    }
    .keywordHot {
        padding-left: 5%;
        margin: 10px 0;
        overflow: hidden;
        *zoom:1;
        @include screen('mobile') {
            padding-left: 0;
        }
        a {
            color: #FFF;
            &:hover,&:focus{
                color: $primaryColor;
            }
        }
    }

}
// header fix
.header.fixed {
    position: fixed;
    width: 100%;
    right: 0;
    top: 0;
    box-shadow: rgba(0, 0, 0, .5) 0 0 25px;
    background: rgba(0, 0, 0, .75);
    z-index: 999;
    @include screen('mobile') {
        background: #FFF;
    }
    .menu {
        margin: 0 0 0 20px;
        >ul {
            >li {
                >a {
                    color: #FFF;
                }
            }
        }
    }
    >.container .searchCtrl {
        border-left: 0px dotted #fff;
        &:before{
            background-size:32px;
        }
    }
    // .search{
    //     width: 40px;
    //     height: 32px;
    //     background-size: contain;
    //     border-left: 0;
    //     right: 20px;
    //     top: auto;
    //     bottom: 5px;
    //     @include screen('mobile') {
    //         background: #FFF;
    //     }
    // }
}