.menu {
    @include clearfix;
    margin: 0 auto;
    min-height: 2.5em;
    position: relative;
    z-index: 99; // 預設選單 ul
    >ul {
        text-align: left;
        margin: 0;
        padding: 0; // 第一層選單樣式
        >li {
            display: inline-block;
            vertical-align: top;
            min-width: 10em;
            >a {
                display: block;
                padding: 0 1em;
                height: 2.5em;
                line-height: 2.5em;
            }
        }
        ul {
            display: none;
            overflow: visible;
            width: 200px;
            background: rgba(0, 0, 0, .8);
            padding: 0;
            z-index: 999999;
            position: absolute;
            top: auto;
            left: 0;
            list-style: none;
            text-align: left;
            ul {
                top: 0;
                left: 170px;
            }
        }
    } // 預設選單 li
    li {
        position: relative;
        a {
            display: block;
            outline: none;
            text-decoration: none;
        } // 第二層選單樣式
        li {
            float: none;
            a {
                padding: 1em 1.2em;
                color: #FFF;
                &:hover,
                &:focus {
                    background: $primaryColor;
                }
            }
        }
        li.hasChild {
            >ul {
                z-index: 999;
            }
            >a {
                padding-right: 2em;
                &:hover,
                &:focus {
                    background: $primaryColor;
                }
                &:after {
                    content: '';
                    position: absolute;
                    right: 10px;
                    top: 1.3em;
                    width: 6px;
                    height: 6px;
                    border: 2px solid #FFF;
                    transform: rotate(45deg);
                    border-bottom: none;
                    border-left: none;
                }
            }
        }
    }
}

// .header .megaMenu{position:relative;}
// .header .megaMenu li{position:static;line-height:1.25;}
// .header .megaMenu li a{display:block;outline:none;text-decoration:none;}
// .header .megaMenu>ul{text-align: center;font-size: 16px;line-height:1.25;}
// .header .megaMenu>ul>li{display: inline-block;min-width:5em;}
// .header .megaMenu>ul>li>a{padding:0 .9em;height:2.4em;line-height:2.5em;}
// .header .megaMenu>ul>li:hover>a,
// .header .megaMenu>ul>li>a:hover,
// .header .megaMenu>ul>li>a:focus{background-color:#444;color:#fff;}
// .header .megaMenu>ul>li>ul{display: none;overflow:visible;position:absolute;top:auto;left:50%;text-align:left;margin-top:0;width:92%;padding:.6em 2%;margin-left:-48%;box-shadow:rgba(0,0,0,0.4) 0 2px 12px;background: #fff}
// .header .megaMenu>ul>li>ul>li{display:inline-block; width:24%; margin:4px .1% .7em; vertical-align:top; border:1px solid #bbb;}
// .header .megaMenu ul ul{width: 90%;margin: 0 auto;}
// .header .megaMenu li li.hasChild>a{padding-right:32px;}
// .header .megaMenu li li.hasChild>a:after{content:'';position:absolute;right:14px; top:.65em;width:12px;height:12px;border:3px solid #aaa;transform:rotate(135deg);border-bottom:none;border-left:none;}
// .header .megaMenu li li li.hasChild>a:after{display: none;}
// .header .megaMenu li li a{position: relative;padding:.6em .8em;}
// .header .megaMenu li li a:hover,
// .header .megaMenu li li a:focus{background: #444;color: #fff;}
// .header .megaMenu li li li a{border-top: 1px dotted #ccc;padding:.6em 1em;}
// .header .megaMenu li li li a:before{content:'';display: inline-block;width: .5em;height: .5em;background: #888;vertical-align: top;margin: .35em .5em 0 0;}
// .header .megaMenu ul ul ul{ display:block; position:static;width: 100%;margin: 0;font-size: .9em;}
// .header .megaMenu ul ul ul ul { display:none; }
// 行動版選單
.sidebar {
    display: none;
    position: fixed;
    padding-top: 3em;
    top: 0;
    height: 100%;
    width: 280px;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    /* Lets it scroll lazy */
    -webkit-overflow-scrolling: auto;
    /* Stops scrolling immediately */
    z-index: 99999999;
    background: #000;
    &:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        color: #FFF;
        width: 100%;
        height: 3em;
        background: #000;
        padding: 0 1em;
        line-height: 3em;
        @include box-sizing;
    }
    .menu {
        width: 100%;
        @include box-shadow(0px 0px 4px RGBA(0, 0, 0, .4));
        margin-bottom: 1em;
        li {
            display: block;
            float: none;
            width: 100%;
            >a {
                padding: .5em 1em;
                background: #333;
                border-bottom: 1px solid #444;
            }
            &.hasChild {
                >a {
                    padding: .5em 1em !important;
                    color: #EEE;
                    background: #222;
                    padding-right: 36px;
                    position: relative;
                    text-shadow: 1px 1px 2px RGBA(0, 0, 0, .7);
                    &:after {
                        content: '';
                        position: absolute;
                        right: 16px;
                        top: 1.5em;
                        width: 5px;
                        line-height: 1.25em;
                        height: 5px;
                        border: 2px solid #EEE;
                        transform: rotate(45deg);
                        border-top: none;
                        border-left: none;
                        transition: .3s;
                    }
                }
            }
            li {
                a {
                    padding: 1em 1em;
                    &:after {
                        display: none;
                    }
                }
                &.hasChild {
                    a {
                        background: #333;
                        padding: 1em 1em 1em 2em !important;
                        &:hover,
                        &:focus {
                            background: $primaryColor;
                        }
                    }
                }
            }
        }
        a {
            display: block;
            color: #FFF;
            text-decoration: none;
            transition: .4s;
        }
    }
}




.sidebar .menu li.hasChild.closeThis>a:before {
    transform: rotate(225deg);
    top: 1.1em;
}


.sidebar .menu ul ul {
    display: none;
    width: 100%;
    margin: 0;
    background: rgba(0, 0, 0, .09);
    font-size: .938em;
    position: relative;
    a {
        padding-left: 2em;
    }
}

.sidebar .menu ul ul ul {
    display: none;
}

// nav
.sidebar .navigation {
    position: static;
    text-align: left;
}

.sidebar .navigation ul {
    float: none;
    width: 90%;
    margin: 1em auto;
    padding: 0;
    overflow: hidden;
    list-style: none;
    border: 1px solid #444;
    border-bottom: none;
    border-right: none;
}

.sidebar .navigation li {
    float: left;
    width: 50%;
    margin: 0;
    padding: 0;
    @include box-sizing;
}

.sidebar .navigation li:nth-child(odd):last-child {
    width: 100%;
}

.sidebar .navigation li a {
    display: block;
    height: 3em;
    line-height: 2em;
    padding: .5em 1em;
    font-size: .813em;
    color: #FFF;
    text-decoration: none;
    border: 1px solid #444;
    @include box-sizing;
    &:nth-child(odd) {
        border-left: none;
        border-top: none;
    }
    &:hover,
    &:focus {
        background: $primaryColor;
    }
}

.sidebar button.sidebarClose {
    position: absolute;
    display: block;
    width: 3em !important;
    height: 3em !important;
    padding: 0;
    min-width: auto;
    top: 0px;
    right: 0px;
    margin: 0;
    text-indent: -9999px;
    border: none;
    background: none;
    border: none;
    &:before {
        position: absolute;
        width: 15px;
        height: 15px;
        border: 3px solid #eee;
        content: "";
        top: 15px;
        right: 10px;
        transform: rotate(45deg);
        border-right: none;
        border-top: none;
    }
}

body>.menu_overlay {
    background: RGBA(0, 0, 0, .5);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow:hidden;
    z-index: 999;
}
