// 以下皆是設定 測試無障礙關閉js 的純css排版
a.goCenter {
	position: absolute;
	top: -2.2em;
	left: 50%;
	margin-left: -480px;
	padding: 0 .5em;
	height: 2em;
	line-height: 2em;
	background: $secondaryColor;
	color: #fff;
	text-decoration: none;
	z-index: 999999999999;
	opacity: 0;
	transition: .5s;
	@include border-radius(0px 0px 4px 4px);
	color: #FFF;
	@include screen("mobile") {
		display: none;
	}
	&:hover,&:focus {
		outline: none;
		top: 0;
		opacity: 1;
	}
}
// no-js
.no-js{
	noscript{
		display:block;
		padding:.5em;
		border:2px solid $primaryColor;
		background:#FFF;
		color:#666;
		overflow:hidden;
		line-height:1.45em;
		font-size:.813em;
		margin:0 .5em .5em;
		@include border-radius(4px);
		@include box-sizing;
		a{
			color:$primaryColor;
			&:hover,&:focus {
			color:$aHover;	
			}
		}
	}
	.search{
		noscript{
			margin-left: 1%;
			margin-right: 1%;
		}
	}
}
