// 自動產生編號：https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_Lists_and_Counters/Using_CSS_counters
.np {
    ol {
        counter-reset: counter;
        border-top: 2px solid $primaryColor;
        overflow:hidden;
        padding:1em 0;
    }
    li {
        display: block;
        width: 49%;
        margin: 0 1% 10px 0;
        float: left;
        @include box-sizing(border-box);
        &:nth-child(even) {
        	width: 50%;
            margin-right: 0px;
        }
        a {
            @include border-radius(4px);
            border: 2px solid #DDD;
            padding: 1em;
            display: block;
            vertical-align: top;
            @include text-overflow;
            &:hover,
            &:focus {
                border: 2px solid $primaryColor;
            }
            &:before {
                counter-increment: counter;
                content: counters(counter, ".") " . ";
            }
        }
    }
}
