.tabSet {
    width: 100%;
    margin: 2em auto;
    background: #f3f3f3;
    overflow: hidden;
}

.tabs {
    position: relative;
    >h2 {
        &.active>a {
            background-color: $primaryColor;
            color: #FFF;
        }
        float: left;
        font-size: 1em;
        margin: 0;
        padding: 0;
        line-height: 1;
        font-weight: normal;

        >a {
            display: block;
            padding: 16px 0 14px;
            text-align: center;
            background-color: lighten($primaryColor, 20);
            color: #000;
            text-decoration: none;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
            &:hover,
            &:focus {
                color: #FFF;
                background-color: darken($primaryColor, 20);
            }
        }
        &.active+.tabContent {
            display: block;
        }
    } // 第二組客製的css
    &.tabs2 {
        >h2 {
            &.active>a {
                background-color: #4c3983;
                color: #FFF;
            }
            >a {
                color: #FFF;
                background-color: lighten(#4c3983, 10);
                &:hover,
                &:focus {
                    color: #FFF;
                    background-color: #da2694;
                }
            }
        }
        .tabContent {
            a {
                &:hover,
                &:focus {
                    color: #da2694;
                }
            }
        }
    }
}

// tab裡的內容
.tabContent {
    position: absolute;
    display: none;
    top: auto;
    left: 0;
    right: 0;
    clear: both;
    padding: 30px 20px;
    @include box-sizing(border-box);
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        line-height: 1.6;
    }
    li {
        margin: 0 0 1.3em 0;
        padding: 0;
        span {
            display: inline-block;
            margin: 0 0 0 1em;
            font-size: .938em;
        }
    }
    .more {
        text-align: right;
    }
}


@media (max-width:767px) {
    .tabSet {
        width: auto;
        height: auto !important;
        .tabs {
            position: relative;
            >h2 {
                float: none;
                >a {
                    width: 100% !important;
                    border-bottom: 1px solid #FFF;
                }
                &.active>a {
                    border-color: #bbb;
                }
            }
        }
        .tabContent {
            position: static;
        }
    }
}