//http://lab.25sprout.com/responsive_table/
table {
    width: 100%;
    border-collapse: collapse;
     @include screen('xs_mobile') {
     	width:auto;
     	position:relative;
     }
    th,
    td {
        padding: .5em;
        text-align:left;
    }
    td {
        border: #ddd 1px solid;
        word-break:break-all;
        a{
        	word-break:break-all;
        }
    }
    th {
        background-color: #F3F3F3;
        color: #333;
        border: #DDD 1px solid;
        text-align: center;
        white-space: nowrap;
    }
    &.table_hover{
        tr:hover{
            background:#FCFCFC;
        }
    }
    &.table_sprite{
        tr:nth-child(even){
            background:#FCFCFC;
        }
    }
    &.table_list {
        @include screen('xs_mobile') {
            background-color: transparent !important; //Force table to not be like tables anymore
            thead,
            tbody,
            th,
            td,
            tr {
                display: block;
            }
            thead tr {
                position: absolute;
                top: -9999px;
                left: -9999px;
            }
            tr {
                border: 1px solid #ccc;
                margin-bottom: 10px;
                // background-color: #333;
            }
            td {
                // Behave  like a "row"
                border: none !important;
                border-bottom: 1px solid #eee !important;
                position: relative;
                padding-left: 35% !important;
                white-space: normal;
                text-align: left;
                &:before {
                    content: attr(data-title);
                    position: absolute;
                    top: .5em;
                    left: .5em;
                    width: 30%;
                    padding-right: 10px;
                    white-space: nowrap;
                    text-align: left;
                    font-weight: bold;
                    color: #000;
                }
            }
        }
    }
}