.tag{
	text-align: left;
	overflow:hidden;
	@include box-sizing;
	margin:1em auto;
	a{
		background:$primaryColor;
		padding:.4em 1em;
		float:left;
		margin: 0px 3px 3px 0px;
		color:#FFF;
		display:block;
		@include box-sizing();
		@include border-radius(6px);
		&:hover,&:focus{
			background:darken($primaryColor,10);
		}
	}
}