@import "compass";
$base-font-size: 16px;
$base-line-height: 16px;
$rhythm-unit: 'em';
$base-font-stack:$font-family;
@include establish-baseline();
$grid-background-baseline-height:2em;
$show-baseline-grid-backgrounds: true;
$grid-background-baseline-color: rgba(187, 187, 187, 0.4);
.vertical_rhythm {
    @include baseline-grid-background;
    img {
        float: left;
        margin: 0 $base-font-size 0 0;
    }
}
.cp {
    h1 {
        @include adjust-font-size-to($base-font-size*2, 3);
        @include leader(.5);
        @include trailer(.5);
    }
    h2 {
        @include adjust-font-size-to($base-font-size*1.5, 3);
        @include leader(.5);
        @include trailer(.6666);
    }
    h3 {
        @include adjust-font-size-to($base-font-size*1.5, 3);
        @include leader(.5);
        @include trailer(.6666);
    }
    h4 {
        @include adjust-font-size-to($base-font-size*1.25, 2);
        @include leader(.5);
        @include trailer(1.6);
    }
    h5 {
        @include adjust-font-size-to($base-font-size*1.125, 2.5);
        @include leader(.5);
        @include trailer(1.5);
    }
    h6 {
        @include adjust-font-size-to($base-font-size, 2);
        @include leader(0);
        @include trailer(0);
    }
    blockquote {
        background: #f2f2f2;
        font-style: normal;
        display: block;
        @include adjust-font-size-to($base-font-size);
        border-left: 5px solid $primaryColor;
        padding: $base-font-size*2;
        box-sizing: border-box;
        margin-left:.5em;
        margin-right: .5em;
    }
    ul,
    ol,
    article,
    p,
    dd,
    figure {
        @include adjust-font-size-to($base-font-size, 2); // @include trailer(1);
        @include leader(0);
        @include trailer(2);
    }
    ul{
        padding-left: 2em;
        list-style: disc;
    }
    ol{
        padding-left: 2em;
        list-style:decimal;
    }
    img {
        max-width: 100%;
        @media (max-width: 767px) {
            width: 100%;
            @include clearfix;
        }
    }
}