.cp {
    img {
        &.float_left {
            float: left;
            margin: 0px 1em 1em 0;
        }
        &.float_right {
            float: right;
            margin: 0px 0 1em 1em;
        }
    }
    a {
        color: $aColor;
    }
    .info {
        font-size: 0.938em;
        line-height: 1.5em;
        list-style: none;
        margin: 0 0 1em 0;
        border-left: solid 5px $primaryColor;
        @include box-sizing;
        padding: 0.8em 1.5em 0.8em;
        background: #F2F2F2;
        li {
            width: 30%;
            margin-bottom: .5em;
            display: inline-block;
            vertical-align: top;
            @include screen('tablet') {
                width: 48%;
                margin-bottom: .2em;
                font-size: 0.875em;
            }
            @include screen('mobile') {
                width: 100%;
            	display: block;
            }
        }
    }
}
