@mixin box-sizing($box-model:border-box) {
  -webkit-box-sizing: $box-model; // Safari <= 5
     -moz-box-sizing: $box-model; // Firefox <= 19
          box-sizing: $box-model;
}
// 範例：
// div{
// 	@include box-sizing(border-box);
// }